{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
  <p>Logout!</p>
  <form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {{form|crispy}}
    <input type="submit" class='btn btn-success' value="logout">
  </form>
  <a href="{% url 'account_login'%}">Click here to login again.</a>
{% endblock %}

{% comment %} 

{% load i18n %}

{% block title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<h1>{% trans "Sign Out" %}</h1>

<p>{% trans 'Are you sure you want to sign out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button type="submit">{% trans 'Sign Out' %}</button>
</form>


{% endblock %} {% endcomment %}